#header {
  background-image: url('https://i.ibb.co/7rKRwKv/kisspng-electronic-entertainment-expo-2018-cyberpunk-2077-media-library-xbox-wire-5b62bbfeec6252-646.png');
  height: 700px;
}

#header-img {
  width: 250px;
  
}

#nav-bar {
  float: right;
  margin: 30px;
 
}

a {
  text-decoration: none;
  color: black;
  margin: 30px;
  word-spacing: 40px;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}
  
iframe {
  margin-right: 100px;
  margin-top: 50px;
  
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  text-align: center;
}

.section {
  width: 50%;
  height: 100%;
}

#features {
  display: 
}

h1 {
    font-family: 'Roboto Mono', monospace;

}

.section-section {
  top: 100px;
}